$black: #444444;
$black-dark: #000;
$white: #fff;
$blue: #23c4ff;
$yellow: #ffb400;
$grey: #828282;
$grey-transparent: rgba(68, 68, 68, 0.5);
$primary-color: #000000;
$light-blue: #23C4FF;
$gray: #4F4F4F;
$light-gray: #828282;