.aktuelnosti {
  position: relative;
  padding: 40px 5%;
  &__wrapper {
    h2 {
      text-align: center;
      font-weight: bold;
      letter-spacing: 3.3px;
    }
  }
  &__desc {
    max-width: 80%;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    font-family: $secondaryFont;
  } 
  &__posts {
    display: flex;
    flex-flow: column;
  }
  &__post {
    h3 {
      letter-spacing: 1.5px;
      margin: 10px 0;
    }
    a {
      text-decoration: none;
    }
    p {
      margin-top: 0;
      font-size: 14px;
      color: $grey;
    }
  }
  &__post-image {
    max-width: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__post-info {
    margin-bottom: 40px;
    p {
      text-decoration: none;
    }
  }
}

@include desktop() {
  .aktuelnosti {
    margin-bottom: 100px;
    height: 100%;
    max-height: 380px;
    overflow: hidden;
    &__wrapper {
      display: flex;
      flex-flow: row;
    }
    &__content {
      max-width: 200px;
      margin-right: 65px;
      h2 {
        margin-top: 0;
      }

    }
    &__desc {
      text-align: left;
      margin: 0;
    }
    &__posts {
      flex-flow: row;
    }
    &__post {
      position: relative;
      width: 300px;
      margin-right: 12px;
      transition: all 0.3s ease 0s;
      top: 0;
      height: 380px;
      overflow: hidden;
      // transition: 0.5s;
      &:nth-child(3) {
        margin-right: 0px;
      }
      &-info {
        opacity: 0;
      }
      h3 {
        line-height: normal;
        letter-spacing: 2.3px;
        margin-bottom: 40px;
      }
      &:hover {
        top: -20px;
        height: 100%;
        .aktuelnosti__post-info {
          opacity: 1;
        }
      }

    }
    &__post-image {
      height: 380px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}