.footer {
  &__wrapper {
    padding: 40px 5% 20px;
    display: flex;
    flex-flow: column;
    // margin-bottom: 20px;
  }
  &__info {
    p {
      margin-bottom: 10px;
      color: $grey;
    }
    .strong {
      color: $black;
    }
  }
  &__contact {
    p {
      margin: 4px 0;
      color: $grey;
    }
  }
  &__projekti {
    p {
      margin: 4px 0;
      color: $grey;
    }
    .strong {
      color: $black;
    }
  }
  &__copy {
    padding: 10px 5%;
    text-align: center;
    background-color: $grey;
    color: $white;
    font-family: $secondaryFont;
  }
}

@include tablet() {
  .footer {
    &__wrapper {
      flex-flow: row;
      flex-wrap: wrap;
      div {
        width: 50%;
      }
    }
    &__info {
      p {
        margin-top: 0;
      }
    }
  }
}
@include desktop() {
  .footer {
    max-width: 1440px;
    margin: 80px auto 0;
    &__wrapper {
      justify-content: space-between;
      div {
        width: 20%;
      }
    }
    &__info {
      p {
        margin-top: 0;
      }
    }
  }
}