.logo-rep {
  padding: 20px 5%;
  background-color: $grey-light;
  &__wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  &__single {
    width: 30%;
    max-height: 70px;
    margin-bottom: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
@include tablet() {
  .logo-rep {
    &__single {
      width: 24%;
    }
  }
}
@include desktop() {
  .logo-rep {
    
    padding: 0 0 80px;
    &__single {
      width: 18%;
    }
  }
}