.hamburger {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: $yellow;
  opacity: 0.9;
  position: relative;
  display: flex;
  transition: 0.2s;
  border-radius: 5px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.5s;
    border-radius: 5px;

  }
  &:before {
    top: 10px;
    background: $yellow;

  }
  &:after {
    bottom: 10px;
    background: $yellow;

  }
  &--is-active {
    height: 0;
    &:before {
      top: -2px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
      bottom: -3px;
    }
  }
}
.menu {
  display: none;
  text-align: left;
  padding: 0;
  li {
    margin: 25px 0;
    list-style: none;
    a {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $mainFont;
      color: $grey;
      &:before {
        content: '';
        position: absolute;
        bottom: -8px;
        height: 2px;
        width: 100%;
        height: 2px;
        background-color: $yellow;
      }
    }
    ul {
      text-align: left;
      padding-left: 10px;
      li {
        a {
          &:before {
            top: 8px;
            left: -24px;
            width: 12%;
            background-color: $blue;

          }
        }
      }
    }
  }
}
#menu-item-111,
#menu-item-110 {
  &:hover {
    pointer-events: all;
  }
  &:active {
    pointer-events: none;

  }
}
.open-menu {
  display: block;
}
@include desktop() {
.hamburger {
  display: none;
  }
  .menu {
    display: flex;
    ul {
      display: flex;
      flex-flow: row;
      li {
        margin-right: 20px;
        a {
          &:before {
            width: 0%;
            transition: 0.4s;
          }
          &:hover {
            &:before {
              width: 100%;
            } 
          }
        }
      }
    }
    
  }
}